<div class="d-flex flex-column ps-4 pt-4">

    <h4>Animaux</h4>
    <a class="ps-2 {% if app.request.pathinfo == path('app_admin_animal_index') %}menu-active{% endif %}" href=" {{path('app_admin_animal_index')}}">Liste des animaux</a>
    <a class="ps-2 {% if app.request.pathinfo == path('app_admin_animal_new') %}menu-active{% endif %}" href=" {{path('app_admin_animal_new') }} ">Ajouter un animal</a>

    <hr>

    <h4>Categories</h4>
    <a class="ps-2 {% if app.request.pathinfo == path('app_admin_category_index') %}menu-active{% endif %}" href=" {{path('app_admin_category_index')}}">Liste des catégories</a>
    <a class="ps-2 {% if app.request.pathinfo == path('app_admin_category_new') %}menu-active{% endif %}" href=" {{path('app_admin_category_new') }} ">Ajouter une catégorie</a>

    <hr>

    <h4>Genres</h4>
    <a class="ps-2 {% if app.request.pathinfo == path('app_admin_gender_index') %}menu-active{% endif %}" href=" {{path('app_admin_gender_index')}}">Liste des genres</a>
    <a class="ps-2 {% if app.request.pathinfo == path('app_admin_gender_new') %}menu-active{% endif %}" href=" {{path('app_admin_gender_new') }} ">Ajouter une genre</a>

    <hr>

    <h4>Produits</h4>
    <a class="ps-2 {% if app.request.pathinfo == path('app_admin_product_index') %}menu-active{% endif %}" href=" {{path('app_admin_product_index')}}">Liste des produits</a>
    <a class="ps-2 {% if app.request.pathinfo == path('app_admin_product_new') %}menu-active{% endif %}" href=" {{path('app_admin_product_new') }} ">Ajouter une produit</a>

    <hr>

    <h4>Commandes</h4>
    <a class="ps-2 {% if app.request.pathinfo == path('app_admin_order_index') %}menu-active{% endif %}" href=" {{path('app_admin_order_index')}}">Liste des commandes</a>

    <hr>

    

</div>