{% extends 'front/base.html.twig' %}
{% block body %}
    {# {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %} #}

    <div class="container">
        <div class="row">
                <div class="col-6 mt-3 mx-auto">
                    <h1>S'inscrire</h1>
                    {{ form_start(registrationForm , {
                        'attr':{
                            'class' : 'mx-auto'
                        }
                    })}}
                        <div class="mb-3">
                            {{ form_row(registrationForm.username) }}
                        </div>

                        <div class="mb-3">
                            {{ form_row(registrationForm.email) }}
                        </div>

                        <div class="mb-3">
                            {{ form_row(registrationForm.firstName) }}
                        </div>

                        <div class="mb-3">
                            {{ form_row(registrationForm.lastName) }}
                        </div>

                        <div class="mb-3">
                            {{ form_row(registrationForm.birthAt) }}
                        </div>

                        <div class="mb-3">
                            {{ form_row(registrationForm.password, {
                                label: 'Password'
                            }) }}
                        </div>

                        <div class="mb-3 me-3">
                            {{ form_row(registrationForm.agreeTerms, {
                                label: 'J\'accepte les conditions d\'utilisation '
                            }) }}
                        </div>
                        <button type="submit" class="button mb-3" disabled >S'inscrire</button>
                    {{ form_end(registrationForm) }}
                    <a class='mt-3' href="{{path('app_login')}}">Se connecter</a>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}
