{% extends 'back/base.html.twig' %}


{% block body %}
    <h1>Index des produits</h1>

    <table class="table table-hover table-dark table-striped ">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix HT</th>
                <th>Actif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description | raw }}</td>
                <td>{{ product.priceHt }}€</td>
                <td>{{ product.isActive ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('app_admin_product_show', {'id': product.id}) }}">
                        <i class="fas fa-magnifying-glass "></i>
                    </a>
                    <a href="{{ path('app_admin_product_edit', {'id': product.id}) }}">
                        <i class="fas fa-pen"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation d-flex justify-content-center my-3">
                {{ knp_pagination_render(products) }}
    </div>

    <a href="{{ path('app_admin_product_new') }}">Créer un nouveau produit</a>
{% endblock %}
